@font-face {
  font-family: "Netflix";
  src: url("../assets/NetflixSansLight.woff");
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Netflix", serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
